.hero {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  h1 {
    flex-basis: 20%;
    text-transform: uppercase;
    font-size: 64px;
    font-weight: 300;
    em {
      font-weight: 700;
    }
  }
  p {
    flex-basis: 60%;
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
  }
}
